@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #0A0A0B;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: .05em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    color: #ADADAD;
    font-size: 1.2rem;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.upper-text {
    text-transform: uppercase;
}

/* HEADER CONTENT */
.header, .main {
    padding: 2rem 2rem;
}

.header-title {
    font-family: 'Prata', serif;
    font-size: 1.2rem;
    font-weight: 300;
}

/* MAIN CONTENT */
.main-heading {
    font-family: 'Prata', serif;
    font-size: 2.6rem;
    font-weight: 300;
}

.logo-items {
    list-style: none;
}

.main-logos {
    padding: 4rem 0;
}

.main-logos img {
    height: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.logo-item-4 {
    position: relative;
    right: 2rem;
}

.logo-item-2 {
    position: relative;
    right: 2rem;
}

/* SPENSE/YELPCAMP/FOUNDER */
.spense-img--wrapper, .yelp-camp-img--wrapper {
    width: 100%;
    
}

.spense-title, .yelp-camp-title, .founder-title, .cta-title {
    font-family: 'Prata', serif;
    font-size: 2.2rem;
    font-weight: 300;
}

.spense-content, .yelp-camp-content {
    padding: 0 0 4rem 0;
}

.spense-title, .yelp-camp-title, {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.founder-aside {
    background: #2E3038;
    padding: 4rem 2rem 4rem;
    
}

.founder-title {
    margin-bottom: 2rem;
}

.founder-para + .founder-para {
    margin: 2rem 0;
}

.founder-para:nth-child(3) {
    margin-bottom: 4rem;
}

q {
    quotes: '"' '"' "'" "'";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

/* CALL TO ACTION */

.call-to-action {
    padding: 6rem 2rem;
}

.cta-para {
    margin-bottom: .5rem;
}

.cta-btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: 'Prata', serif;
    background-color: #FBE850;
}

/* FOOTER */

.footer-title {
    font-family: 'Prata', serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.footer {
    background: #2E3038;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link-item img {
    display: flex;
    align-items: center;
}

.link-item + .link-item {
    margin-left: 1.5rem;
}


@media only screen and (min-width: 768px) and (max-width: 979px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }

    .logo-item-6 {
        justify-self: start;
        padding-left: 2.5rem;
    }

    .logo-item-4 {
        justify-self: end;
        padding-right: 2.5rem;
        right: 0;
    }
    
    .logo-item-2 {
        right: 0;
    }

    .logo-item-3 {
        justify-self: start;
    }

    .logo-item-1 {
        justify-self: end;
    }

    .main-logos img {
        height: 2rem;
    }
}

@media only screen and (min-width: 980px) {
    .grid-container {
        grid-auto-flow: column;
        grid-auto-columns: repeat(6, auto);
        justify-content: space-between;
    }

    .logo-item-6 {
        justify-self: center;
        padding-left: 0;
    }

    .logo-item-4 {
        justify-self: center;
        padding-right: 0;
        right: 0;
    }
    
    .logo-item-2 {
        right: 0;
    }

    .logo-item-3 {
        justify-self: center;
    }

    .logo-item-1 {
        justify-self: center;
    }

    .main-logos img {
        height: 1.6rem;
    }

    .grid-container-large {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 4rem;
    }

    .spense-content, .yelp-camp-content {
        padding: 0 0 2rem 0;
    }

    .link-item + .link-item {
        margin-left: 0;
    }

    p {
        font-size: 1rem;
    }
    .founder-title {
        margin-bottom: 0;
    }
    
    .founder-para + .founder-para {
        margin: 1rem 0;
    }
    
    .founder-para:nth-child(3) {
        margin-bottom: 0;
    }
    
    .link-item + .link-item {
        margin-left: 2rem;
    }   
}


@media only screen and (min-width: 1260px) {

    .founder-content {
        padding: 0 2rem;
    }
    
    
}